[2014-04-01 20:05] applecat opened #1 "RangeError: Maximum call stack size exceeded."
See this in console in 5 seconds after image upload:

[code]

My template:

[code]

Config:

[code]

[2014-04-01 21:29] #1 closed, assigned to nobody

[2014-04-03 12:43] applecat opened #2 "Problem with callback when image deleted"
In my code I try to delete image from cloudinary this way:

[code]

Image successfully deletes, but in console I see:

[code]

I think problem is somewhere out here:

server.js

[code]

api.coffee

[code]

There is not callback set in Cloudinary.api.delete_resources call.

Can you comment on that?

[2014-04-04 10:33] #2 closed, assigned to nobody

[2014-06-25 20:53] kalepail opened #3 "Progress Bar"
Hey, me again, I'm really liking this alternative to S3 but I still need a much cleaner implementation on the front end.

Specifically...
- A submit button rather then just auto uploading on file selection
- Progress bar variable for putting into a css width attribute

I'd really like to push these features along so if some type of cash incentive arraignment could be reached I'd be more then willi

[2014-06-26 23:34] Lepozepo opened #4 "cloudinary_list_all only lists 10"
I'll fix this asap

[2014-07-13 22:05] #3 closed, assigned to nobody

[2014-07-13 22:10] Lepozepo opened #5 "Submit button"
Allow submit or some way to modify the event handle that triggers an upload

[2014-07-17 05:26] Miggz opened #6 "v2.0.0 help"
Please feel free to talk to me like an idiot, but how can I access the data from cloudinary client-side?

I've got the upload working and i've got it calling a serverside function, but if I just want the upload information on the client-side?  How would I do this?

Any help is most appreciated.

[2014-07-17 05:39] #6 closed, assigned to nobody

[2014-07-26 03:49] cramhead opened #7 "When uploading multiple images at the same time I get a 'Future resolved more than once' error"
I haven't yet started looking to deeply into the error, but I figured I should let you know as other may have this same problem.

Some of the images do get uploaded. Others fail to upload with error below.

The source looks like

[code]

[code]

[2014-08-05 22:58] cramhead opened #8 "Client side unsigned upload added"
So I've extended your package to include unsigned clientside upload.
It's pretty rough and ready, but thought you might be interested. It's available at
https://github.com/cramhead/cloudinary_clientside_upload

A sample project, to show how to use it, is available at https://github.com/cramhead/cloudinaryStub

[2014-08-22 14:17] meandkareem opened #9 "Send extra parameters to callback"
How I can send one more parameter to callback function. I need post._id so I can assign image to post entry.

tnx

[2014-08-26 17:31] #9 closed, assigned to nobody

[2014-08-29 14:51] meandkareem opened #10 "image resize on fly"
I can't get image to be resized with this tag

`<img width="100" height="100" src="{{c.url public_id format=format crop=fill}}" >`

[2014-09-01 11:11] #10 closed, assigned to nobody

[2014-09-07 14:43] mizdflop opened #11 "Upload of Dropped Image"
Would love to see an example of using this package to upload images dropped on an HTML element.

Thanks for the package. Huge time saver.

[2014-10-04 06:41] wiseworksSteve opened #12 "'cloudinary_upload' undefined error"
This may be noob problem but I can't get this package to work.

I followed the readme, and things appear to work on the client side. But when it tries to call the server method - I've tried both 'cloudinary_upload' and 'cloudinary_upload_stream' - the server throws an error: Exception while invoking method 'cloudinary_upload' undefined

The method is clearly defined in the server.js file. I've ver

[2014-10-05 20:19] #12 closed, assigned to nobody

[2014-10-23 09:41] kevohagan opened #13 "Trying to upload blob to s3"
so i would love to make this work with mdg:camera package for mobile, which basically gives you  base64-encoded data URI.

I think it would be great for this package to support that out of the box.

Would you know anything about that?

If i found out i'll definitely PR ;)

[2014-11-17 11:10] romainkoenig opened #14 "Add a control of upload size"
I think it would be nice to add a property for example in the spacebars to control the maximum size of the upload. And to throw an error if needed.
For now I intend to use this :
Meteor.methods({
    save_url:function(response){
        if(response.upload_data > MAXIMUM_SIZE ){
                //delete the file with the meteor call
                throw new Meteor.Error('max-size', 'the size of th

[2014-12-14 21:02] applecat opened #15 "TypeError: undefined is not an object (evaluating '_cloudinary.after.update')"
When try to use this code client side:

[code]

got this error:

[code]

Seems to be _cloudinary object doesn't have .after attribute/method:

[code]

[2014-12-15 19:26] Secretmapper opened #16 "Fallback from websockets"
Right now it seems that it doesn't work if the browser does not support websockets (or users are under a proxy/firewall)

[2015-01-15 08:00] Secretmapper commented on #16
Awesome! I'm still unfamiliar with Meteor to make a PR :3

[2015-03-02 06:27] liut2 opened #17 "Reduce image size before uploading"
Hi,
Thanks for your effort to write this package. I just have a question to ask: How can I reduce the file size before uploading. For example, I allow the user to upload image directly from their phone and usually a picture would take about 3 or 4 MB because its width and height are around 2000x4000. But what I really need to display in the browser when rendering it is 273x375. So what should I do

[2015-03-02 06:57] Lepozepo commented on #17
I haven't tried to do something like that but this might point you in the right direction: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/ Cloudinary's plugin doesn't seem to have anything to manage that before uploading.

[2015-03-30 03:39] Lenin7 opened #19 "uploading base64"
How can you upload a base64?

http://support.cloudinary.com/hc/en-us/articles/202519992-How-to-upload-a-Base64-DataURI-string-of-an-image-directly-from-the-browser-

[2015-03-30 03:40] Lepozepo commented on #19
You can't, I need to upgrade this package to work the way my S3 package is working, I can probably get base64 working then. Hope to make changes within the coming couple of weeks.

[2015-04-12 23:58] joegoldbeck opened #20 "Stream upload doesn't work in some circumstances"
Worked fine on localhost, but then on my deployment on Modulus (which uses SSL) it hangs at 100% for 60 seconds and then gives a 504 error. Standard upload works fine both local and deployed.

Error: `Server returned unexpected status code - 504 cloudinary`
Stacktrace:
[code]

[2015-04-13 01:03] Lepozepo commented on #20
Good to know, I'll keep it in mind on the next package update round I do. Hope to update my Cloudinary package in the next couple of weeks, it's been a long time coming, lol. Still, that's strange considering the server is the one doing the upload in chunks. Maybe the file is being sent to the server encrypted because of the SSL? Have you tried solving it yet by modifying the package directly?

[2015-04-13 03:49] joegoldbeck commented on #20
Thanks @Lepozepo for the quick response and great package!

I haven't tried digging into the package yet since reverting to regular upload solved the primary issue. I can try to run a test in the next week or so to see if SSL is the issue though. I suspect it's not, at least not directly, and certainly it shouldn't change how the server receives the file. That said, Modulus does use a proxy for SS

[2015-04-13 03:52] Lepozepo commented on #20
Sweet, no problem. If you want to look into cheaper alternatives, have a look at my S3 package as well, I updated that one recently and it works pretty well.

[2015-04-13 04:02] joegoldbeck commented on #20
Yup, we've been using that package too :-). Having our image processing pipeline (mostly resizing at the moment but who knows) handled by an external service, and getting the storage and cdn wrapped in to boot, seems super worth the cost for the time being. We should be so lucky to have such costs become our limiting factor :)

[2015-05-22 12:09] SturmDrangAltaar opened #21 "Callback function not firing"
Hi,

Appologies if this is a silly question, I'm still new to meteor. I'm trying to use the basic uploader for now, but I can't seem to get the callback function to fire from spacebars?

Everything else seems ok, the photos are uploaded, reports on progress, etc. $.cloudinary and the local collection _cloudinary all seem fine.

Not quite sure what I'm missing here, maybe some syntax issues? Any he

[2015-05-22 17:11] Lepozepo commented on #21
Post the code so I can have a look :)

[2015-05-22 17:22] SturmDrangAltaar commented on #21
Sure

Method on server:
[code]

In the view:
[code]

I've also tried hooking into the local minimongo's after update with:
[code]
I then get the following error in console:
[code]

Photos are showing up in my Cloudinary media library, but I just can't seem to get the data_id back. I need to save it to a collection.

Thanks for your help!

[2015-05-22 17:35] Lepozepo commented on #21
That's strange that it doesn't work. I'll check for bugs as soon as I get a chance.

[2015-05-22 17:37] SturmDrangAltaar commented on #21
Thanks, really appreciate it!

[2015-06-04 17:50] fabyeah opened #22 "Upload to specific folder?"
Thank you @Lepozepo for making this package.

Is it possible to upload to a certain folder?

I tried `{{#c_upload_stream folder=folder callback="save_url"}}` without success.

[2015-06-04 17:55] Lepozepo commented on #22
Sorry, that's not supported right now but I'll look into it when I get a chance.

[2015-06-07 15:20] DEfusion commented on #21
+1 tried both `c_upload` and `c_upload_stream` I get no errors in either client or the server however.

[2015-06-07 15:34] DEfusion commented on #21
This anonymous function is never being called for me https://github.com/Lepozepo/cloudinary/blob/master/client/controllers.js#L54

[2015-06-07 15:51] DEfusion commented on #21
Still poking at it but I've found something very weird, if I manually do `Meteor.call('afterCloudinaryUpload')` before doing an upload I get an error as expected as I've not provided a response. However after attempting an upload trying to call it manually again I get no errors and no output in the console.

[2015-06-07 15:53] Lepozepo commented on #21
Hey! I'll take a look at it today. I've been busy closing one of my shops but now I'm in a sweet moment of "nothing else to do" WOOHOO!

[2015-06-07 15:54] DEfusion commented on #21
Thanks @Lepozepo one last thing as I'm just heading out for a bit if you add this debugging into the server JS:

[code]

The first message is logged but the 2nd is never logged.

[2015-06-07 22:27] DEfusion commented on #21
I really can't figure this out so for now I've removed the callback param from the tag and using the `_cloudinary.after.update` hook to then call my `afterCloudinaryUpload` method with the file. Doing that is working for me at the moment.

[2015-06-09 21:26] MerryOscar opened #23 "Combining Cloudinary Upload with Form Submit"
Hi Lepozepo,

Thanks for the Package! I was wondering if it was possible to combine the Cloudinary Image Upload with a form submit, so that the public_id of the uploaded image can be included in a newly created database collection?

I have the following code:

    	<form class="addCategoryForm">
		<div class="form-group">

			<h4>Category Name</h4>
			<input placeholder="Enter category name" type=

[2015-06-09 23:28] DEfusion commented on #21
I've just experienced something similar in my own code, trying to do a Meteor.call() serverside from within a Meteor.call() is causing the first method called to fail silently. Don't know if this is a core meteor issue or something to do with packages installed.

[2015-06-10 02:04] Lepozepo commented on #23
If I understand correctly what you are trying to do is upload on form submit? If that's the case then have a look at the way the block helpers work and adapt the event handler for the form instead. [This link](https://github.com/Lepozepo/cloudinary/blob/master/client/controllers.js) should be an excellent starting point.

[2015-06-11 12:47] DEfusion commented on #21
I think I have it figured out. My app was started from the meteor boilerplate which includes the https://github.com/matteodem/meteor-easy-security package by default. That has rate limiting on calling methods.

[2015-06-11 13:18] SturmDrangAltaar commented on #21
That makes sense, I'm also using the boilerplate with easy-security module

[2015-06-11 13:21] Lepozepo commented on #21
Wow, I don't think I would've figured that one out easily. After you remove easy security the package works?

[2015-06-11 13:24] DEfusion commented on #21
I'm not actually using the c_upload_stream anymore but doing my own legwork (for various reasons) and then calling `cloudinary_upload_stream` with the data directly. But I imagine it would, a very simple test is to take a working app and add he easy-security package it instantly kills the ability for methods to then do Meteor.call() for me.

[2015-06-24 07:57] workflow opened #24 "Security: checking all arguments"
Hi @Lepozepo,

thx for this package!

With `audit-argument-checks` enabled, your package is throwing the following:

[code]

Could you include a check() in all methods?

[2015-06-24 17:09] Lepozepo commented on #24
Definitely! I'll patch it this weekend hopefully.

[2015-07-02 00:14] sangyoo91 opened #25 "Upload without using helper"
How can I upload an image without using the helper in the package?

[2015-07-02 04:23] Lepozepo commented on #25
Hi! You would have to do something kind of like this:

[code]

That is what we're calling when we're using the normal "cloudinary_upload" method. I also have a "cloudinary_upload_stream" method that should work but I'm not certain. Have a look at [this](https://github.com/Lepozepo/cloudinary/blob/master/client/functions.js) file.

[2015-07-02 05:47] sangyoo91 commented on #25
@Lepozepo Thank you! Is it possible to add form data to cloudinary_upload call?

[2015-07-03 12:06] backslash451 commented on #23
Hi MerryOscar,
if you haven't solved it yet, this is how i did it:

CLIENT.html:
[code]

CLIENT.js
[code]

[2015-07-06 17:34] chandan-singh commented on #21
Thanks DEfusion! I wasted my 2 hours just struggling to fix this issue before I saw your post.

[2015-07-07 20:25] dansurfs opened #27 "no such package"
Hello,
Thank you for making this.
I tried using ' meteor add cloudinary' and got the result in the picture.
What's the best way to go about getting this package to install? Thanks.
![no such package](https://cloud.githubusercontent.com/assets/8673591/8556397/aa63479e-24ab-11e5-8475-bd12a5fb9f8c.png)

[2015-07-08 04:02] Lepozepo commented on #27
Lol, you forgot to add my username. So the package install command would be `meteor add lepozepo:cloudinary`

[2015-07-08 04:02] #27 closed

[2015-07-16 01:47] scribahti commented on #23
I too am trying to upload on form submission, with the goal of writing documents to a collection containing  the Cloudinary public_id of the uploaded image along with other text provided in the form.

Following Lepozepo's original and backslash's modified example I've gotten as far as loading the file into the callback's namespace as such:

[code]

I can verify this variable stores the correct obj

[2015-07-16 02:15] Lepozepo commented on #23
Try using the development branch, it makes it easier and more efficient but still doesn't have a delete function lol.

[2015-07-19 17:11] scribahti commented on #23
Should I be looking at the registered meteor methods in `server.js` or the `upload` & `upload_file` functions in `functions.coffee`?

[2015-07-20 00:30] Lepozepo commented on #23
Whichever one fits your use case best, lol. Using `server.js` methods will provide a more direct path to the function that actually handles the upload in the current version. Sorry I couldn't get the dev branch out to production yet, I got very busy last week >_<.

[2015-07-21 08:12] Lepozepo commented on #25
Hey! I completely revamped the code. It is much more efficient now! Although it still needs a bit more work for auth. It should be less confusing to build on it now that there is no helper.

[2015-07-21 08:13] Lepozepo commented on #24
I've added checks for the new version but there are a lot of breaking changes so be sure to read the docs before updating.

[2015-07-21 08:13] #24 closed

[2015-07-21 08:15] Lepozepo commented on #23
Ok, I published the new code! It should be easier to do what you're trying to do now. All you need to do is call `Cloudinary.upload(files,ops,callback)`. Hope to improve the docs next time I get a break.

[2015-07-21 08:16] Lepozepo commented on #22
You can now upload to a specific folder using the `Cloudinary.upload(files,ops,callback)` function. `ops` will take in the `folder` parameter. I'll elaborate in the docs next time I get a chance.

[2015-07-21 08:16] #22 closed

[2015-07-21 08:18] Lepozepo commented on #20
I've completely upgraded this package, it now streams the file directly from the client to Cloudinary. This is way more efficient ^_^. You shouldn't have much of a problem with incomplete files and weird things like that anymore but if you do let me know.

[2015-07-21 08:18] #20 closed

[2015-07-21 08:19] Lepozepo commented on #19
This doesn't look too difficult to do now, I'll put it as a feature request for the next patch.

[2015-07-21 08:19] Lepozepo commented on #19
Check out the new update! It's more efficient and flexible ^_^.

[2015-07-21 15:25] scribahti commented on #23
Thank you Marcelo!

Matthew Yanez, B.S. Molecular Biology
Barrett Honors College | Arizona State University

On Tue, Jul 21, 2015 at 1:15 AM, Marcelo Reyna <notifications@github.com>
wrote:

[2015-07-22 09:53] workflow commented on #24
Awesome, thx!

[2015-07-22 19:05] arathipanya opened #29 "c_upload_stream seems to work with only small files"
Hi,
I am using #c_upload_stream to upload some pictures on Cloudinary, with also  _cloudinary.after.update

In local everything works fine but once in production, when I upload a file > 900ko nothing happens...

Here is my code
<pre>
//In template html imageForm
{{#c_upload_stream callback="save_url"}}
</pre>
    <input type="file" accept="image/*;capture=camera">

    <div id="p-image-loading" st

[2015-07-22 19:06] Lepozepo commented on #29
Upgrade to the latest version, we are not using streams anymore.

Marcelo Reyna

On Wed, Jul 22, 2015 at 12:05 PM, arathipanya <notifications@github.com>
wrote:

[2015-07-22 19:08] arathipanya commented on #29
Oh, good to know :)
My bad, thank you

[2015-07-22 19:20] Lepozepo commented on #29
No problem :D

Marcelo Reyna

On Wed, Jul 22, 2015 at 12:08 PM, arathipanya <notifications@github.com>
wrote:

[2015-07-24 10:20] arathipanya commented on #29
It works perfectly.
Here is my version :
<pre>
Template.imageForm.events({
    "change input[type='file']": function(e) {
        var files = e.target.files;

        //show an uploading message...
        Session.set("image-uploading", true);

        Cloudinary.upload(files, {}, function(err, res) {
            //hide uploading message...
            Session.set("image-uploading", false);

[2015-07-24 10:21] #29 closed

[2015-07-24 13:24] fabyeah commented on #22
Thanks for the update! Uploading to a folder works, but I can't seem to read from it.
How to I pass the folder to the url helper?
`<img src="{{c.url public_id folder='test' format=format width=600 height=200 crop='limit'}}"` doesn't seem to work.

[2015-07-24 13:27] fabyeah opened #30 "Showing file upload progress in v4.0.0"
Is it possible to display file upload progress in the new version?

[2015-07-24 14:59] Lepozepo commented on #30
It is, just pick up the amount loaded and divide it by the total from the data in the request object that the collection produces. Have a look at the basic example.

Marcelo Reyna

On Fri, Jul 24, 2015 at 6:27 AM, fabyeah <notifications@github.com> wrote:

[2015-07-24 17:54] ryanmclaughlin opened #31 "Not able to send a remote URL instead of file from input"
Hey there, I'm trying to pass a remote URL for cloudinary instead of a file which seems to be an option: http://cloudinary.com/documentation/upload_images#remote_upload

I'm getting this error:
`Uncaught TypeError: Failed to execute 'readAsDataURL' on 'FileReader': parameter 1 is not of type 'Blob'.`

Any advice?
Thanks

[2015-07-25 02:00] Lepozepo commented on #31
You can only do that with server side code. That means you'll have to leverage their NodeJS API on the server to make it work.

[2015-07-25 11:21] Secretmapper commented on #19
@Lepozepo Examples please? ^_^

[2015-07-27 02:54] Secretmapper commented on #19
To anyone who wants an example:

`Cloudinary._upload_file("base64", {}, callback);`

Basically, `Cloudinary.upload` reads image files as base64, and passes it to `_upload_file`, so you can just directly pass the base64 data to internal method and it will work.

[2015-07-27 04:09] Lepozepo commented on #19
Wow, that works? That's pretty sweet, I didn't even know, lol. I only just had a look at their docs again though and it makes sense that it would since they accept the incoming signal as a base64 string. I'll patch up the code when I get a chance to make it a little more obvious and I'll add it to the docs. Thanks for the insight @Secretmapper !

[2015-07-31 11:42] sangyoo91 opened #32 "Javascript README"
[code]

[2015-07-31 15:17] sangyoo91 opened #33 "Need Help"
I have a file input that shows a preview by using <img src="dataURL here">. I also save the `dataURL` into a blob.

How do I send this to the method when I click on another button to upload?

I do not want to upload the image directly to server on change input.

[2015-08-01 03:22] Lepozepo commented on #32
[code]

[2015-08-01 03:22] #32 closed

[2015-08-01 03:25] Lepozepo commented on #33
If I understand correctly what you are trying to do, you will need to upload the base64 string by using the method described here: #19. To bind it to a button you need to bind the function to a button via the click event. `"click button.upload": -> #upload stuff` Does that make sense?

[2015-08-01 16:21] sangyoo91 commented on #33
Referencing #19 made it work for me. Thank you :)

[2015-08-06 06:37] TwiceII opened #35 "Uploading with certain parameters causes Invalid Signature error"
First of all, thanks for the great package!

Issue I'm facing is: when I include optional parameters (as described in http://cloudinary.com/documentation/upload_images#remote_upload) in my upload, sometimes I get "Invalid Signature xxx. String to sign yyy" error.
Some parameters seem to "break" signature, like when I include `eager`:
[code]
while passing only `folder`, `format` parameters works ju

[2015-08-06 06:41] Lepozepo commented on #35
You are welcome ^_^ I haven't tested for that, I'll see what I can do as soon as I get a chance but I do know that the way I'm signing is probably not the best way to do it. If you are willing to give the package a stab, check Cloudinary's NPM package and try to trace how they are signing the request. They put a lot of bullshit around their code so it might take a bit of time to understand. If you

[2015-08-06 07:10] TwiceII commented on #35
Ok then, I'll inform if I get any insights on that.

[2015-08-06 22:13] ollieklein opened #36 "Not an issue, more a question!"
Hi, love the package but i can't seem to understand the read and manipulation part. Right now i have it set up, it sends the image and triggers a method that alters the user() object and adds the response to the users profile. But i don't know how to use {{c.url}} and how to pass in the public_id etc. Right now i am simply setting the image src to url from the response on the user() object. The is

[2015-08-07 00:50] shactdeveloper opened #37 "How to get URL from public_id on server?"
I need the URL on server to use on third party services (face recognition API), how could I grab the url on server side?

[2015-08-07 02:15] shactdeveloper commented on #36
I need help with that too
<img src="{{c.url profile.avatar transformation="fit_100x150"}}">
Does not work...

[2015-08-07 17:37] moise-g commented on #36
Same here:
img(src="#{c.url public_id format=format}", alt="sushi")
is not working...

[2015-08-07 18:12] rfines commented on #36
I have been able to get it work using an image tag that looks like so:

    <img src="{{c.url publicId format=format gravity='faces' mode='thumb' crop='thumb' height=80 width=80}}" alt="profile image" class="image profile-image" />

and in the associated js file:

    Template.uploader.helpers({
	publicId:function(){
		var u = Meteor.user();
		if(u && u.profile && u.profile.profilePicture){
			ret

[2015-08-07 20:52] ollieklein commented on #36
That massively helped, everything working now! Thank you so much!

[2015-08-17 03:38] shactdeveloper commented on #36
How can I get the same exact function
{{c.url publicId format=format gravity='faces' mode='thumb' crop='thumb' height=80 width=80}}

but on a template helper?
like
return c.url(publicId,{gravity:"faces",...})

[2015-08-18 04:30] Lepozepo commented on #36
Hi @shactdeveloper , you can use `$.cloudinary.url()` on a helper instead. You can find more information on cloudinaryjs [here](https://github.com/cloudinary/cloudinary_js).

[2015-08-18 09:20] sangyoo91 opened #38 "Call Cloudinary Delete Method within a Method"
How do I call a cloudinary delete method within a meteor method (server side)?

[2015-08-18 09:51] torayeff opened #39 "Did not check() all arguments"
How can be this fixed:
```I20150818-09:34:57.766(5)? Exception while invoking method 'c.sign' Error: Did not check() all arguments during call to 'c.sign'```

[2015-08-18 12:19] generalleger opened #40 "[Object object] returned from callback"
Putting this here for anyone who comes across this issue:

I am not a coffeescript user, so I usually just go to [js2.coffee](js2.coffee) to translate example code from coffeescript to JS.  Well, that works 99% of the time.  This time it caused me a silly error that took me way too long to identify.

The example coffeescript code for the Meteor event code translates to this:

[code]

The problem w

[2015-08-18 15:12] Lepozepo commented on #38
Meteor.call("c.delete_by_public_id")

[2015-08-18 15:13] Lepozepo commented on #39
That's strange, I do have a very low-level `check` on the signing method. What security packages do you have installed?

[2015-08-18 15:16] Lepozepo commented on #40
Thank you for adding that!

[2015-08-18 15:16] sangyoo91 commented on #38
@Lepozepo  Thank you.
[code]

is this correct?

[2015-08-18 15:21] Lepozepo commented on #38
[code]

[2015-08-18 17:00] torayeff commented on #39
nothing except audit argument check

[2015-08-18 21:12] Lepozepo commented on #39
I'll double check when I get home

Marcelo Reyna

On Tue, Aug 18, 2015 at 10:00 AM, torayeff <notifications@github.com>
wrote:

[2015-08-19 13:56] generalleger commented on #40
Sure thing, it was driving me bananas because I thought the callback was broken... felt stupid to see it was just the console log statement.  Thanks for this great package!

[2015-08-21 12:32] #38 closed

[2015-08-21 12:38] sangyoo91 opened #42 "Cloudinary Upload photo within meteor method"
How do I call cloudinary upload properly within a meteor method?

`Cloudinary._upload_file`

I tried this but I get the following error (it works fine if I call it from client but not from within a method)
[code]

[2015-08-21 12:42] sangyoo91 commented on #42
I've also tried `Cloudinary.uploader.upload` but I get

[code]

[2015-08-27 23:07] alexanderperls opened #43 "ENOENT error 34 when uploading from local filesystem"
I've installed the package from atmosphere, entered my credentials.

I have it running on my dev server, and I can run for example this code:
[code]
.. And this work well! I get back the result with the  public_id.

The problem is I cannot figure out how to upload from my local file system.

When I specify this path:

[code]
I get this error
[code]
In my Cloud9 workspace, I can click on this file

[2015-08-28 00:31] alexanderperls commented on #43
I seem to have a solution, explained here:

http://stackoverflow.com/questions/29743806/getting-meteor-private-folder-path-in-meteor-deploy-environment

This seems to be poorly documented, but as far as I can tell, this is the only way to access a file on the local filesystem in meteor.

[2015-08-28 01:47] Lepozepo commented on #43
@alexanderperls why do you need to access the local file system? This package does not support file system uploads, it only supports blobs and File type files. If you want to upload from your local file system you need to use Cloudinary's NodeJS package and Node to access the filesystem. You would also need to develop a stream to get it going. You can have a look at my previous versions of this pa

[2015-09-01 21:24] GenghisJuan commented on #35
Just wanted to pipe in on this as I am running into the same error. I was reading this [document](http://cloudinary.com/documentation/upload_images#request_authentication) which says that only certain params need to be signed. From the looks of the code it appears that it is currently signing all parameters. My guess is that if we filter the parameters object and only sign these params:
callback,

[2015-09-07 13:55] fabyeah commented on #22
Ok, so the folder will be part of the public_id. So there is no need to pass 'folder' when retrieving images.

[2015-09-07 14:22] fabyeah commented on #38
Thank you. This should be in the docs!

[2015-09-12 17:12] fabyeah commented on #12
I would like to upload files from the server, but it's not possilble, because server.js is not loaded in package.js. Is that right? Or am I missing something?

[2015-09-12 17:15] Lepozepo commented on #12
Uploading from the server is more complex than uploading from the client. A previous version of this package used server uploads but I decided to remove support for it since it is inefficient for the server to be uploading when the client can do it. Are you trying to upload files that are local to the server?

[2015-09-12 17:15] Lepozepo commented on #42
Make sure you are calling it on the client

[2015-09-12 21:07] fabyeah commented on #12
Yes, I want to upload files being sent to my app via POST request.

My solution now is to add the cloudinary npm package via meteorhacks-npm. It works because the global variable is named "cloudinary" with a lower case "c". So there is no conflict with the "Cloudinary" from this package.

I think it is useful to have the server upload feature, for cases like this.

[2015-09-14 17:48] GenghisJuan commented on #42
I was able to do something like this:
Cloudinary.uploader.upload(photo, Meteor.bindEnvironment(function (res, err) {

[2015-09-23 22:35] arnoldgamboa opened #44 "Error when uploading (server side)"
Hi,

I'm getting this error from the server side while uploading the image:

`Exception while invoking method 'c.sign' ReferenceError: check is not defined`

Any idea?

[2015-09-23 22:47] Lepozepo commented on #44
Did you update to 1.2? Maybe I need to check for the existence of check before running it, I thought it was part of the core. Look for meteor's check package and add it if you need it to work ASAP, if not I'll patch it up tonight if I get a chance.

[2015-09-23 22:48] arnoldgamboa commented on #44
Yes, it's 1.2. So, this might be due to the upgrade?

[2015-09-23 22:52] arnoldgamboa commented on #44
I am able to make it work by adding "check" and "random" packages. Thanks.

[2015-09-23 22:53] arnoldgamboa opened #45 "How to let user know it's uploading?"
In previous versions, there is:

`c.uploading_images`

Since its not available on this latest version, any idea how to let users know you're uploading and the status of upload?

[2015-09-23 22:55] Lepozepo commented on #44
Excellent, that will affect all your meteor methods though, make sure to use check in every method you have now. This is good for security anyway if you're planning on taking your app to production someday.

[2015-09-23 22:57] arnoldgamboa commented on #44
Oh, I never thought it would. Hmm.. might not be a good way to do it since
my codebase is huge already. I'll just wait for your update, then?

On Thu, Sep 24, 2015 at 6:55 AM, Marcelo Reyna <notifications@github.com>
wrote:

[2015-09-23 23:53] Lepozepo commented on #44
Sounds good

Marcelo Reyna

On Wed, Sep 23, 2015 at 3:57 PM, Arnold Gamboa <notifications@github.com>
wrote:

[2015-09-24 17:11] greatramu commented on #40
adding my 2 cents to this. In case you do not have any optional parameters, just pass an empty object. Or else, the callback will not be called

        Cloudinary.upload(files, {}, function(err, res) {
            console.log("Upload Error: " , err);
            return console.log("Upload Result: " , res);

[2015-09-25 17:54] Lepozepo commented on #39
Lol, I updated my s3 package instead of this one >_<, it should be a quick fix though

[2015-09-25 18:17] Lepozepo commented on #44
The code is checking for check now ^_^

[2015-09-25 18:17] #44 closed

[2015-09-26 04:33] arnoldgamboa opened #46 "Problem with uploading to server"
I have 4.0.0 working locally (can't seem to upgrade to 4.0.1, I'm not sure why). But when I'm uploading to live server (through mup), it breaks it. Attached is the screenshot. Any idea why?

Thanks!

![speakactive](https://cloud.githubusercontent.com/assets/587603/10115842/dcb39616-644a-11e5-8a39-5e4f5dddfcbc.jpg)

[2015-09-26 04:45] arnoldgamboa commented on #46
If it would help, here's where the error is coming from. Take note that everything seems to be working fine in my local build.

![speakactive_and_slack](https://cloud.githubusercontent.com/assets/587603/10115873/6894073c-644c-11e5-90e2-ea217820ab93.jpg)

[2015-09-26 19:08] Lepozepo commented on #46
Is your production server behind SSL?

Marcelo Reyna

On Fri, Sep 25, 2015 at 11:45 PM, Arnold Gamboa <notifications@github.com>
wrote:

[2015-09-26 20:49] arnoldgamboa commented on #46
It's not. 

Sent from iPhone

On Sat, Sep 26, 2015 at 12:08 PM -0700, "Marcelo Reyna" <notifications@github.com> wrote:

Is your production server behind SSL?

Marcelo Reyna

On Fri, Sep 25, 2015 at 11:45 PM, Arnold Gamboa <notifications@github.com>

wrote:

—
Reply to this email directly or view it on GitHub.

[2015-09-27 00:15] arnoldgamboa commented on #46
... and previous version of your package (before 4.0) works on the server, too (if that helps).

Thanks!

-Arnold

[2015-09-27 23:56] Lepozepo commented on #46
What does your code look like? The most current version of this package only supports client side uploads and I think the commands are a bit different.

Marcelo Reyna

On Sat, Sep 26, 2015 at 7:15 PM, Arnold Gamboa <notifications@github.com>
wrote:

[2015-09-28 08:40] arnoldgamboa commented on #46
Solved it.

It's how c.url is treated. What's what helped: http://www.heapoverflow.me/question-display-a-profile-photo-with-meteor-32187497

(I wonder though why it worked locally and not on the server)

[2015-09-28 20:11] #45 closed

[2015-09-29 03:49] Lepozepo commented on #46
Hmm, that looks like the helper wasn't being used right. c.url expects a public ID not a url. Still, it is surprising that it was working. It sounds like it might be an issue with cloudinary's javascript plugin. @TalLevAmi what do you think?

[2015-09-29 05:29] TalLevAmi commented on #46
@Lepozepo Not sure I fully understand the issue, but cloudinary_url is not meant to be called with null/undefined. If that's an issue with the Meteor integration, we can add a shortcut that returns null/undefined in this case. Will that help?

[2015-09-29 05:38] Lepozepo commented on #46
@TalLevAmi I guess it would be good for both cloudinaryJS and my helper to return something instead of breaking the rest of the code when public_id is falsy. I'm trying to understand why it would fail for @arnoldgamboa in production but not locally. Maybe something inside his loop is returning false and messing things up in production. Could you check @arnoldgamboa ?

[2015-09-29 05:50] TalLevAmi commented on #46
See https://github.com/cloudinary/cloudinary_js/commit/aacb2a504b789d92176ac4ad64ec7c5f3f06b993

[2015-09-29 05:52] Lepozepo commented on #46
Sweet! Thanks @TalLevAmi

[2015-09-29 06:10] Lepozepo commented on #46
Fixed with cf44f2262af6e4532989331780a3ee98a2173a09 I think, @arnoldgamboa please test further to see if it's anything else ^_^.

[2015-09-29 06:10] #46 closed

[2015-09-29 06:30] arnoldgamboa commented on #46
Thank you guys for the help. 

Sent from iPhone

On Mon, Sep 28, 2015 at 11:10 PM -0700, "Marcelo Reyna" <notifications@github.com> wrote:

Fixed with cf44f22 I think, @arnoldgamboa please test further to see if it's anything else ^_^.

—
Reply to this email directly or view it on GitHub.

[2015-09-30 16:08] chibipirate opened #47 "Security Feature"
Any updates on this?

[2015-10-01 00:29] arnoldgamboa opened #48 "Video uploads"
I noticed that Cloudinary supports video uploads. Is that something that your package plans to support in the future?

[2015-10-01 01:11] Lepozepo commented on #48
Definitely!

[2015-10-01 01:11] #48 closed

[2015-10-01 01:59] arnoldgamboa commented on #48
... or is that something available now? Like maybe a method that's been there but not being used?

[2015-10-01 02:54] Lepozepo commented on #47
Not yet but soon I hope, I'll try to get something before the hackathon for everyone to enjoy

[2015-10-01 02:55] Lepozepo commented on #48
Maybe, I'm not sure if the signature will work though.

Marcelo Reyna

On Wed, Sep 30, 2015 at 7:00 PM, Arnold Gamboa <notifications@github.com>
wrote:

[2015-10-03 11:16] GenghisJuan commented on #47
For the time being, I just disable the client side delete as it seems way too scary to have it in place.

`Cloudinary.delete = function () {
    throw new Meteor.Error("Clients may not delete images.")
  };`

[2015-10-03 11:45] GenghisJuan commented on #47
For the time being, is it possible to just completely disable delete from the client? I was able to pop open console and do
`Cloudinary.delete('my_image')`

and poof it was gone, seems a bit too easy for a person to mess with my media library. My strategy was to do this:
`delete Meteor.default_server.method_handlers['c.delete_by_public_id'];`

but I feel a determined attacker could still find a wa

[2015-10-03 17:08] Lepozepo commented on #47
I see 2 paths you could take. You can overwrite and rewrite the delete function on your app and hard code a password/auth-function for the delete function to pass or you can create a auth function for this package and create a merge request. ^_^

[2015-10-06 03:26] chibipirate commented on #47
@Lepozepo
Is there a specific way to override a package method? I've looked around and came up empty. Whenever I try to do it I get this error:

Error: A method named 'c.delete_by_public_id' is already defined

[2015-10-06 03:27] Lepozepo commented on #47
There might be a way to overwrite meteor methods but I'm not sure if that's something you should do. What are you trying to accomplish?

[2015-10-06 03:32] chibipirate commented on #47
@Lepozepo I was just working off of your previous reply: 'You can overwrite and rewrite the delete function on your app'. I was going to do a role check or something similar to the following:
if (! Meteor.userId()) {
      throw new Meteor.Error("not-authorized");
}

[2015-10-06 03:42] chibipirate commented on #47
@Lepozepo Using: Meteor.default_server.method_handlers["c.delete_by_public_id"] seems to bypass the error. I'm going to test it out.

[2015-10-06 03:43] Lepozepo commented on #47
Ah, I see what you mean, lol, sorry. Damn, I guess with the current implementation it is a pain to add security to the delete function. Let me see if I can patch it quickly right now, it's going to break everyone's delete though >_<.

[2015-10-06 03:45] Lepozepo commented on #47
I have an idea for a dirty fix while I get time to make a better implementation that won't break people.

[2015-10-06 03:50] chibipirate commented on #47
@Lepozepo Good news. Overriding it works like that. Here's is how I did it in my methods.js file:

var Future;
Future = Npm.require("fibers/future");

Meteor.default_server.method_handlers["c.delete_by_public_id"] = function(public_id) {

    if (!this.userId && !Roles.userIsInRole(this.userId, ['admin'])) {
      throw new Meteor.Error(403, "Access denied");
    }

    var future;
    this.unbloc

[2015-10-06 03:51] Lepozepo commented on #47
Sweet! I'm going to push an update in a minute though so you won't have to do that ^_^

[2015-10-06 03:52] Lepozepo commented on #47
[code]

[2015-10-06 03:52] chibipirate commented on #47
@Lepozepo Sounds good. I'll update once it's up. Thanks for the fast responses! :) +1

[2015-10-06 03:56] chibipirate commented on #47
@Lepozepo Could you add some details about "auth_function"?

[2015-10-06 04:09] Lepozepo commented on #47
Nvm, that doesn't work. There would have to be a function that builds the delete function together with the auth function for it to work :/.

[2015-10-06 04:40] Lepozepo commented on #47
Got it, but it only works with a global authorization function for now.

[code]

[2015-10-06 04:41] Lepozepo commented on #47
So what you'll do is set an authorization function on the server side under Cloudinary.rules.delete and tap into the Meteor method through there. Does that make sense?

[2015-10-06 04:48] Lepozepo commented on #47
Fixed with 502c83a2bdc50024ba7b25e1268f2c00bce7910a

[2015-10-06 04:48] #47 closed

[2015-10-06 04:56] chibipirate commented on #47
@Lepozepo Makes sense. I'll give it a go. Thanks again!

[2015-10-06 04:57] Lepozepo commented on #47
No problem ^_^ I had a bit of time on my hands tonight :D.

On October 5, 2015 at 9:56:51 PM, ats (notifications@github.com) wrote:

@Lepozepo Makes sense. I'll give it a go. Thanks again!

—
Reply to this email directly or view it on GitHub.

[2015-10-11 12:26] andregoldstein opened #49 "Exception while invoking method 'c.sign' ReferenceError: check is not defined"
Has anyone seen this error? Have just created a fresh install and followed instructions but the Cloudinary call is not happening and am getting the above error?

Thanks.

[2015-10-11 12:29] andregoldstein commented on #49
Update: I had figured the `check` package was part of core but maybe not, have just installed it and now getting another error:

`Exception in delivering result of invoking 'c.sign': ReferenceError: Random is not defined`

[2015-10-11 12:31] andregoldstein commented on #49
Update 2:

Turns out `random` is another non-core package, added that and all OK! Maybe consider adding it as a dependency?

[2015-10-11 13:23] andregoldstein opened #50 "Transformations have no effect"
Hi again, I'm having issues where whatever transformations I try to apply the image is just returned as a normal full image. Am using the example given:

[code]

[2015-10-13 10:19] meandkareem commented on #49
just do 'meteor add check'

[2015-10-13 10:27] andregoldstein commented on #49
Thanks @meandkareem I should have updated the comment to say this worked for me when I tried it. Have now stumbled onto issue #50

[2015-10-13 10:27] #49 closed

[2015-10-13 17:23] rfines commented on #50
I am not 100% sure but I think you need the format as well.

    <img src="{{c.url public_id width=250 height=250 crop="fill" format=format}}">

Here is how I have been able to get the transformations to work:

    <img src="{{c.url publicId format=format gravity='faces' mode='thumb' crop='thumb' height=80 width=80}}" alt="profile image" class="image profile-image" />

with publicId and format bei

[2015-10-14 09:46] andregoldstein commented on #50
Thanks @rfines . As it turned out I was doing something stupid. I wasn't referencing my individual `image` template inside my `images` template, I was still using a static img. Apologies.

[2015-10-14 09:46] #50 closed

[2015-10-28 10:45] fabyeah commented on #49
@Lepozepo Just ran into this today. As of Meteor 1.2 check and random are removable, so the package itself should add a dependency to those, instead of having to add them to the entire meteor app!?

[2015-11-02 09:13] rwatts3 opened #51 "Error : Exception while invoking method 'c.sign' undefined"
Receiving this error when trying to upload with Orion.
Any suggestions ?

[code]

[2015-11-02 09:25] rwatts3 commented on #51
Resolved this issue.
Turns out I was calling `Cloudinary.config` on the client when I should have been calling `$.cloudinary.config`.

Thank you for authoring this package.

[2015-11-02 09:31] #51 closed

[2015-11-03 05:34] petestreet opened #52 "Is there a way to do synchronous uploads?"
Following the readme instructions I'm able to upload a photo, and inside the `(err, res)` callback I get the resulting object.  This is great, however I would really like to be able to call another function once that callback has returned.  Code directly inside the `(err, res)` callback will be executed once it returns, but saying, for example, `if (err)` or `if (res)` inside that callback is exec

[2015-11-04 06:45] Lepozepo commented on #52
Hmm, all public_ids are stored in the client-side Cloudinary.collection object which you can access at any time after files have been uploaded. You can also use the `multiple` attribute on your input to accept multiple files in one hit. This I'm sure you already know though.

I would definitely not recommend keeping that data stored temporarily in the front for too long. There are a lot of things

[2015-11-04 08:02] petestreet commented on #52
Honestly I hadn't thought of the `multiple` attribute beforehand, I'm facepalming right now.  I think that'll be fine for my purposes - essentially the goal was to let users add one or multiple files to a "post" they make.  When I read in the `files` array, I added a little hack to increment the 'index' of the file array every time `Cloudinary.upload()` is called, and only insert the post into the

[2015-11-04 08:02] #52 closed

[2015-11-06 07:43] Lepozepo commented on #35
I just repaired this, I'll drop it in the next iteration

[2015-11-07 19:23] chmac opened #54 "ReferenceError: check is not defined in 4.0.3"
I noticed in the commit log you added an `if check` before the `check()` calls, then removed it again in a subsequent commit. Was the removal deliberate? Why was it added in the first place?

I'm seeing this error, where the server complains that `check` is undefined on my laptop, but I wasn't seeing the error on my desktop. As far as I can tell, nothing has changed between the two machines.

As a

[2015-11-07 19:24] chmac commented on #54
Oh, in case it's not clear, I'm seeing this issue in `server/signature.coffee`.

[2015-11-07 19:27] chmac commented on #54
Interesting, I cloned this repo directly into `packages/` and the error has gone away. For some reason meteor was installing `4.0.3` instead of the latest `4.0.4` automatically. When I tried bumping it manually in the version file, it complained of a potentially incompatible upgrade. Feel free to close this issue if it's resolved by the upgrade to `4.0.4` and I'll figure out my versioning issues..

[2015-11-07 21:16] Lepozepo commented on #54
Yeah, that's strange, 4.0.4 is the way to go, both check and random are required by the package in package.js, that's why I returned check. Check makes the package compatible with the audit-argument-checks package and tries to properly sanitize input.

[2015-11-07 21:16] #54 closed

[2015-11-07 21:18] chmac commented on #54
OK, thanks for confirming. I've had weird issues with meteor's version resolver before, I'm guessing it was something in there that got me the older version.

Thanks for an awesome package btw, and your S3 package, both great contributions to the meteor community.

[2015-11-09 16:37] chmac opened #55 "v4.0.4 is not on atmosphere"
Atmosphere [shows](https://atmospherejs.com/lepozepo/cloudinary) 4.0.3 but the `package.js` file [here](https://github.com/Lepozepo/cloudinary/blob/master/package.js) shows 4.0.4. Maybe you need to run `meteor publish` in the package directory to push the latest version?

[2015-11-09 16:38] chmac commented on #55
Oh, and by the way, for anyone else who finds this issue, we solved it temporarily by cloning this repository directly into the meteor `packages/` directory like `git clone git@github.com:Lepozepo/cloudinary.git`.

[2015-11-11 03:33] Lepozepo opened #56 "Donors List"
This list is for people that have contributed by donating cash. Let me know your handle!

[2015-11-11 06:12] ciwolsey opened #57 "No Cloudinary.delete on the server?"
I have an app where posts (which have images) expire after 21 days. I have a cron job that runs every hour that removes all posts older than 21 days. I also need to remove images from cloudinary but it seems Cloudinary.delete isn't defined on the server. Is this possible?

[2015-11-18 15:23] CyrilSabbagh opened #58 "Abort upload"
Hi,
I am using ng-file-upload to upload images and I want to hook a cancel button that will abort the current upload process. I can't find a way to get the XHR request object so I can abort it.
Do you have any tips on how I can do this?
Thanks!

[2015-11-18 16:21] Lepozepo commented on #58
Hi! There is currently no way to do it, you would have to patch the package to expose the xhr object from `functions.coffee`. If I get a chance some time today to patch it up I'll push an update but feel free to make a pull request ^_^

[2015-11-18 18:17] CyrilSabbagh commented on #58
Done ! :)

[2015-11-18 19:49] arnoldgamboa opened #60 "Upload progress"
Hi there!

Is there a trick available under this new version to check the progress of upload? Like, numerical percentage we can use for a progress bar?

-Arnold

[2015-11-19 04:02] Lepozepo commented on #60
Same way as before :D

[2015-11-19 05:50] arnoldgamboa commented on #60
I don't understand. Can you give an example please?

Sent from iPhone

On Wed, Nov 18, 2015 at 8:02 PM -0800, "Marcelo Reyna" <notifications@github.com> wrote:

Same way as before :D

—
Reply to this email directly or view it on GitHub.

[2015-11-23 18:07] CyrilSabbagh opened #61 "url caches"
Hi,
There seems to be a problem with generation several links (with different transformation) on the same image (public_id). This is because they are stored in some cache variables (e.g: _private_urls).
What i'm doing right now is emptying the cache manually before I render any image but I guess this is not the best solution. Is there any other way to solve this issue?

Maybe trying to add the tra

[2015-11-25 10:41] danielparas commented on #57
@ciwolsey was looking for the same thing. Has already been answered here https://github.com/Lepozepo/cloudinary/issues/38

[2015-11-25 17:53] danielparas commented on #47
@Lepozepo, thanks for this plugin! - really helpful :)

Is there a way I can pass data to the `auth_function` ? As it doesn't take any arguments. Reason I need to pass data is because I need to perform more checks other than just confirming that if a user is logged on. Eg. if the user owns the image that is going to be deleted or if they are deleting someone else's image for example.

Thanks
Dan

[2015-11-26 02:58] Lepozepo commented on #47
Mmm, I could append the information passed to the method to the context of the authorization function. This would definitely make things easier. I'll do some open source in a couple of minutes and see if I can tackle this quickly right now.

[2015-11-26 04:04] Lepozepo commented on #58
Sweet, it's in, thanks ^_^

[2015-11-26 04:04] #58 closed

[2015-11-26 04:11] Lepozepo commented on #61
I hadn't thought about that but it's totally true. The reason I have them stored is to make sure they don't overflow the server with requests (since the image is signed). I just got a really good idea though! The signature only needs to be calculated when api keys and secrets change. You could instead build another similar helper that uses a stored signature to avoid hitting your server every time

[2015-11-26 08:33] danielparas commented on #47
Thanks @Lepozepo !

[2015-11-26 13:15] CyrilSabbagh commented on #61
It is a good idea but wouldn't we just loose the security concept of the signature if we expose it to the client?

[2015-11-26 18:08] Lepozepo commented on #61
The only way to get real security from Cloudinary (sadly) is by purchasing their advanced plan so that only your site can make requests to their server. From my understanding, what really protects the image in the free tiers is adding a watermark to your images and serving that image with a signature. Then the original is fully private until you generate an expiring download URL.

[2015-12-01 14:32] danielparas commented on #47
Hey @Lepozepo, any luck ?

[2015-12-01 16:55] juandanceswild opened #63 ""public_id not defined" error when trying to generate downloadable link."
Hi, thanks for the this package :)

We're using it to upload files from a form, and generating an email with a downloadable link to the file.

The upload is working fine, but we're getting a "public_id not defined" error when using Meteor.call("c.get_download_url", public_id,ops,callback)

My cloudinary.coffee in the client:

    $.cloudinary.config
    cloud_name:"****"

    Template.submitDesign

[2015-12-02 02:17] fabyeah commented on #47
I want to allow users to only delete their own images (that they uploaded). Is that possible? How do I do that?

[2015-12-02 16:57] fabyeah commented on #47
Nevermind, I forgot I'm already using methods...

[2015-12-02 18:36] fabyeah commented on #47
Actually forget that, please tell me :)

[2015-12-02 20:45] danielparas commented on #47
I didn't manage to find a way with the current setup as there's no way to link the cloudinary signature with a specific file. As it stands the only check you can perform is if a user is logged in and if that user has permission to delete in general. but this means they can delete any file i.e. its either all or nothing so to speak, nothing in between.

[2015-12-02 21:24] fabyeah commented on #47
@danielparas If I'm not mistaken, it's possible to set the filename when uploading a file. So you could prefix the filename with the user's id. It's not possible to check when deleting, if a user's id matches the filename prefix?

[2015-12-03 06:20] danielparas commented on #47
@fabyeah - did not manage to find a way to perform this check. If you find a way let me know :) thats is why I requested a small adjustment to the rules functions

[2015-12-07 16:57] fabyeah opened #64 "Cordova Android Bug with Meteor 1.2+, broken file upload"
Just a heads up: It is now neccessary to define ```App.accessRule("blob:*");``` for file upload to work on android devices.
A note in the documentation would be nice, like CollectionFS did: https://github.com/CollectionFS/Meteor-CollectionFS/blob/master/README.md#cordova-android-bug-with-meteor-12

Might save people a lot of time. I certainly wish I found that earlier. ;)

[2015-12-11 23:08] WadeWarren opened #65 "Client Side uploading"
Hi-

Is there a way to upload an image (via a URL) using the jQuery on the client?

[2015-12-13 01:05] #65 closed

[2015-12-23 14:12] syedmahamood opened #66 "getting insecure response as shown below, below is my code. Appreciate if you can point where iam going wrong. thanks"
OPTIONS https://api.cloudinary.com/v1_1/dojoin/image/upload net::ERR_INSECURE_RESPONSE
Uncaught SyntaxError: Unexpected end of input(anonymous function) @ functions.coffee:110

Template.userprofile.events({
  "change input[type='file']": function(e) {
		console.log("iam in file upload")
		var files = [ ]
		file = e.currentTarget.files[0];
		files.push(file)
		console.log("fiels value" + files)

[2015-12-23 14:55] syedmahamood commented on #66
It turns out that the problem is with the google chrome browser. But in firefox its working fine. Not sure how to handle this in chrome.

[2015-12-26 02:38] Lepozepo commented on #64
Added to README ^_^

[2015-12-26 02:38] #64 closed

[2015-12-26 02:44] Lepozepo commented on #60
You can do something like this:

[code]

Where files is this:
[code]

Use `percent_uploaded` to catch progress ^_^

[2015-12-26 02:44] #60 closed

[2015-12-26 02:45] Lepozepo commented on #39
This should be good now

[2015-12-26 02:45] #39 closed

[2015-12-26 02:46] Lepozepo commented on #30
Have a look at https://github.com/Lepozepo/cloudinary/issues/60

[2015-12-26 02:46] #30 closed

[2015-12-28 18:53] jjeffwarner opened #67 "For an app"
I had to change the App.accessRule for the most recent version to

App.accessRule('*://*.cloudinary.com/*');

instead of

App.accessRule('*://res.cloudinary.com/*');

[2016-01-01 09:02] johnsonchandra opened #68 "cant invoke all methods with c.<methodsname>"
in client, e.g. c.url is not invokeable, instead I have to invoke it with $.cloudinary.url

while in server, this is the exception I got:
"Exception while invoking method 'c.sign' undefined"

Is it an issue or maybe I miss something?

I just add it normally with meteor add lepozepo:cloudinary

[2016-01-10 12:45] TylorShin opened #69 "Can you make callback for entire upload?"
Hi.
I'm a big fan of this package.

I've tried to make entire callback when I tried to multiple upload to pull request, I failed now...

until now, the upload callback runs at each file upload is done even multiple upload.

I need callback for when whole uploads are done.  (e. g, spinner for the whole uploads)

so..

can you make callback firing at the entire uploads are done?

[2016-01-19 14:06] khaledkbadr opened #70 "Can't get progress of multiple files uploading"
I'm trying to build progress bar, the problem is I can't get the `ID` of the file that I'm uploading.
I can do find on `cloudinary db` in `minimongo`. But it's not possible to show progress while the user upload multiple files.
Is there anyway I can get the `_id` of the file the user is uploading immediately?

[2016-01-22 06:52] sangyoo91 opened #71 "Uploading base64 string server-side"
As the title says, how do I upload base64 strings received from client from the server side?

[2016-01-26 13:16] cyllu2 opened #72 "Doesn't work anymore?"
Installing this and adding the settings returns the following error:

Is this package not working anymore?

[2016-01-26 20:06] atulmy commented on #19
Thanks, this helped!

[2016-02-05 16:14] dnish opened #73 "How to upload videos?"
Just wondering why the script tries to upload videos to "image/upload" instead of "video/upload"? It works  if I set the resource_type manually to video in the npm cloudinary package, but that's not a nice solution.

[2016-02-08 05:19] Lepozepo commented on #55
The latest version is now in atmosphere ^_^, something is up with my notifications that I'm not receiving any of these issues, lol.

[2016-02-08 05:19] #55 closed

[2016-02-14 10:59] coopermaruyama commented on #60
For some reason, this didn't work for me (tested in chrome), but this did:

[code]

template:

``
<template name="myImages">
{{#if uploadProgress }}
   Progress: {{ uploadProgress }} %
{{/if}}
</template>
[code]

[2016-02-14 16:13] Pushplaybang commented on #13
This is really an important feature, any progress on this?

[2016-02-19 07:17] Lepozepo commented on #13
None yet, I think I started working on it but I couldn't complete it. I'll have a look next time I can.

[2016-03-01 10:01] hyperh opened #74 "How to use transformations with React"
To get a transformed image, the docs say to do it like this:
`<img width="250" src="{{c.url public_id effect='blur:300' angle=10}}">`

This uses the helper `c`. If I'm using React, how would I get a transformed image?

[2016-03-05 10:43] Secretmapper commented on #74
You're passing public_id as a string. Remove the `'` (quotes) in public_id and it should work

[2016-03-06 18:53] emaddoma opened #75 "Page refuses to render image"
[code]

throws this error: "Refused to load the image 'http://res.cloudinary.com/hud9ala09/image/upload/aslngmemx51tli3uof1c' because it violates the following Content Security Policy directive: "img-src data: 'self' localhost:* http://fonts.googleapis.com https://fonts.googleapis.com http://fonts.gstatic.com https://fonts.gstatic.com http://graph.facebook.com https://graph.facebook.com http://fbc

[2016-03-06 20:21] Lepozepo commented on #75
Looks like you need to allow content from Cloudinary in your security policy. I don't remember exactly how to do that but I'm sure you can find out how quickly on their docs.

Marcelo Reyna
702 769 0639

On Mar 6, 2016, 10:53 AM -0800, Erik Madsen<notifications@github.com>, wrote:

[2016-03-06 21:04] emaddoma commented on #75
Thanks.  I added BrowserPolicy.content.allowImageOrigin("res.cloudinary.com"); to policy.js and it's working now.

[2016-03-06 21:04] #75 closed

[2016-03-09 16:28] wanchopeblanco opened #76 "Cant delete image inside a folder"
I havent been able to delete an image inside a folder using and returns not_found error, but searching for the file in cloudinary dashboard it exists.

Any comment would be helpful.

[code]

It returns
[code]

[2016-03-09 16:34] wanchopeblanco commented on #76
Images not in categories can be deleted without any problems.

[2016-03-10 06:14] Lepozepo commented on #76
Strange, I'll review the delete function this weekend ^_^

[2016-03-10 20:58] lkula opened #77 "Access Secure URL in Helper"
Is there a way to access the secure_url in the helper? I tried c.secure_url and it didn't return anything.

[2016-03-11 04:41] Lepozepo commented on #77
Hey, c.url simply wraps cloudinaryJS. It's very likely that cloudinary automatically detects your protocol and serves a matching url. Let me know!

[2016-03-12 11:26] fabyeah commented on #47
Can you maybe just not make the delete method available on the client? I understand that upload should be available from client to save server resources, but deleting doesn't really have any impact on performance, does it? As the cloudinary config is also only server side, a client wouldn't be able to make just any delete requests anymore, because he doesn't have the API Key and API Secret?

[2016-03-12 20:53] Lepozepo commented on #47
Hey guys! Damn, sorry I never mentioned this @danielparas but I did make the `public_id` available on the delete rule function. You should be able to use this to properly check for ownership now (it's been up for a while too, lol). @fabyeah the delete function is really just a convenience function but you have to make sure to protect it with a rule. If you are deleting from the server only without

[2016-03-16 05:59] Secretmapper commented on #70
+1

[2016-03-16 06:02] Lepozepo commented on #70
Definitely, I'll be upgrading this package and S3 as soon as I switch to full-time Meteor development again, I can't wait!

[2016-03-16 07:36] arnoldgamboa opened #78 "Ionic/Angular on Meteor?"
Hi,

Is there a chance this works on new member of the Meteor family, AngularJS? I'm particularly planning on using it with IonicFramework on Meteor. Or has this been converted to AngularJS somewhere?

[2016-03-16 08:15] Lepozepo commented on #78
The helpers will not work since they are programmed specifically for Blaze, you can definitely tap into their underlying functions to make work with something like angular. I'm not sure if support for angular is something I have in the scope of this project, I'm more likely to pick React.

[2016-03-16 08:15] #78 closed

[2016-03-17 13:38] Secretmapper opened #79 "Expose cloudinary methods"
It'd be cleaner if the package exposes some other cloudinary methods, such as `$.cloudinary.image`. Thankfully since cloudinary is exposed through jQuery we can just access it directly, but this is definitely hacky if the underlying cloudinary library is changed.

What do you think @Lepozepo ?

[2016-03-17 13:48] Secretmapper commented on #79
Sorry, this was a mistake (I got confused with cloudinary's api)

[2016-03-17 13:48] #79 closed

[2016-04-15 05:54] ipstas commented on #13
It is kinda simple. I don't have the exact code (but can make it if explanation is not enough). Camera pkg gives dataURI, so convert it to blob, and from blob to file. That's it.
Function for converting data to blob is not the simplest one, but can be easily found on stackoverflow

[2016-04-21 21:49] #57 closed

[2016-04-26 16:44] KudMath opened #80 "401 error"
Hey, I get a 401 error trying to upload, any idea why?

server.js
`
Cloudinary.config({
  cloud_name: '**',
	api_key: '**',
	api_secret: '**',
})
`

client.js
`
$.cloudinary.config({cloud_name:"**"})
`

[2016-05-12 23:22] petestreet commented on #77
Hi @lkula and @Lepozepo, I was just trying this out and found that "secure" is an optional parameter of the `options` object inside cloudinaryJS.  So using `{{c.url public_id secure=true width=...}}` pulls the image from its https link.  Hope that helps

[2016-05-17 18:21] ipa1981 commented on #76
Cannot delete this as well. While find the image in cloudinary management panel by this id.
[code]

`{"deleted":{"secret/ktxkvxxukwpgelcnd6fe":"not_found"},"partial":false,"rate_limit_allowed":500,"rate_limit_reset_at":"2016-05-17T19:00:00.000Z","rate_limit_remaining":495}"`

[2016-05-20 17:53] frankapimenta opened #81 "more methods"
is it possible to have the remove_tag methods and so?

[2016-05-23 14:19] Lepozepo commented on #81
That would be good. I need to give this package some love, I'll see what I can do over the week ^_^

[2016-05-26 12:34] #80 closed

[2016-05-26 12:51] KudMath commented on #23
I am having trouble with this: Cloudinary.upload doesn't seem to do anything while Cloudinary._upload_file successfully uploads the file (although I have trouble catching the response in code). Any idea?

[2016-05-26 12:56] nicooprat commented on #81
What's more, looks like the official Cloudinary library has evolved a lot (v2): https://github.com/cloudinary/cloudinary_js/releases

Lepozepo many thanks for your work :)

[2016-06-02 08:56] sardormajano opened #85 "Callback is not firing"
Hi! I am having trouble with uploading pics into Cloudinary
`Cloudinary.upload(files[0], {
      folder
    }, function(err, res){
      console.log('upload error: ' + err);
      console.log('upload result: ' +  res);
    });`
though the settings are correct. When the method is run, nothing happens: no callback, no image on my cloudinary cloud. Could you please help me with that?

[2016-06-03 19:32] gorgekara commented on #85
Same happens for me as well - i'm getting this error in Chrome Console

[code]

[2016-06-03 19:33] Lepozepo commented on #85
Mmm, I think the latest PR might have brought in some issues. I'm patching it after work today ^_^.

[2016-06-05 20:08] michaelmax28 commented on #19
@Lepozepo this enhancement don't works anymore for me in version 4.1.6, but when I just downgraded to version 4.1.3 it works fine again, do you know why? thanks

[2016-06-06 00:54] Lepozepo commented on #85
Hmm, I can't seem to replicate the issue, do you have a gist or repo I can look at that causes the issue?

[2016-06-06 02:15] Lepozepo commented on #85
Hey guys, I gave the package some love today, try upgrading and let me know if that fixed the issue. ^_^

[2016-06-07 11:03] fabianrios commented on #85
I update still is not firing it's doing everything perfect it uploads the files and in the network it shows the response but I can`t get the answer in the code.

[2016-06-07 11:08] sardormajano commented on #85
I'll check it out later since I was in a hurry and had to use uploadcare meteor package instead.

[2016-06-15 12:16] frankapimenta commented on #81
Are there new functions published?

Thank you for your work :)

[2016-06-16 02:31] Lepozepo commented on #81
@frankapimenta I haven't added new helpers, I did upgrade dependencies though. I need to watch those packages to keep up with them. I'm going to try to give S3 some love too then I'll come back to this one to add some more helpers.

[2016-06-16 09:43] frankapimenta commented on #81
@Lepozepo I would require to have the remove tag helper. If you tell me where to start with it would make things easier to me and I would do the pull request. I'm short in time ( like everybody else I guess :D )

[2016-06-16 14:07] Lepozepo commented on #81
@frankapimenta Sounds like that would go somewhere around here: https://github.com/Lepozepo/cloudinary/blob/master/client/functions.coffee#L41 but build it however you want. If it works and doesn't break things I'll accept. I don't care much for code style so long as results are met. I'll move things around after ^_^

[2016-06-17 18:14] rvnikita commented on #76
I have similar issue.
If the public_id is short it's working.
If it's something like "http://pi.lmcdn.ru/s/607/O/N/ON380EWHOS10_1_v476.jpg" (id generated by system) — it's not working.
[cloudinary2.txt](https://github.com/Lepozepo/cloudinary/files/321049/cloudinary2.txt)

[2016-06-18 09:35] frankapimenta commented on #81
Would this (from http://cloudinary.com/documentation/image_upload_api_reference#api_example_12) as meteor call:

[code]

and this as client side function:

[code]

be ok to you?

[2016-06-21 14:35] sambegin commented on #37
@rafaelcorreiapoli
Had the same problem,
You can use this on server side :

SERVER SIDE :
Cloudinary.utils.url(filePublicId, {transformation: transformation,devicePixelRatio});

CLIENT SIDE :
Cloudinary._helpers.url(filePublicId, {transformation: transformation, devicePixelRatio});

[2016-06-21 19:05] patrickbolle commented on #48
Anyone ever get video uploads working?

[2016-06-21 22:46] oriharel commented on #1
I have the same issue, only with 1 particular image, which is size 3.9MB. I'm using the free account for now. Is this a limitation?

[code]

[2016-06-21 22:48] oriharel opened #87 "RangeError: Maximum call stack size exceeded"
I saw the closed issue, but seems happening to me too. I get "Maximum call stack size exceeded" only for 1 particular image which is 3.9MB. I'm using the free account. is this a limitation?

[code]

[2016-06-21 22:53] #87 closed

[2016-06-22 21:24] jsantana90 commented on #85
Hi there, I'm getting the same issue, the callback is not doing anything at all and no images in cloudinary.

client:
[code]

When I execute the function I get the files and everything seems ok, but the callback for `Cloudinary.upload` doesn't seem to fire or do anything.

[2016-06-26 00:07] Lepozepo commented on #85
Hey guys, this seems to be an issue with `check()`. Patching it up in a bit and should be gtg ^_^

[2016-06-26 00:37] Lepozepo commented on #85
All right guys, new version is up, let me know if you're still getting issues

[2016-06-26 00:44] Lepozepo commented on #81
Hmm, looking at the way all the other functions work maybe we can iterate over each and `wrapAsync` instead. Then we wouldn't need to do much extra work if they update their API.

[2016-06-26 02:00] jsantana90 commented on #85
I'll give a check this monday, thanks!

[2016-06-29 14:40] jessylachapelle opened #88 "Exception in delivering result of invoking 'c.sign': Error: [Internal server error [500]]"
## Version & platform

- Ubuntu Gnome 14.04
- Chromium 48.0.2564.116
- node v5.11.1
- npm 3.8.6
- check@1.1.0

## Expected behaviour

On using function:
`Cloudinary.upload(files, { folder }, (err, res) => { callback(err, res); });`

- Files should be uploaded to Cloudinary
- Return the information about the upload.

## Actual behaviour

- Files not uploaded
- Exception is thrown : Exception while

[2016-06-30 05:31] Lepozepo commented on #88
Hmm, I'll review this coming weekend but PR's are appreciated ^_^ what version of Meteor are you on?

[2016-06-30 09:52] fabianrios commented on #71
I also would like to know this, also trying with converting that back to a file and doesn't work or even gave feedback of what's happening.

[2016-06-30 09:54] fabianrios commented on #31
Can you point us to the right direction to achieve this kind of things, so it works with files or url's or even data64 characters, thanks!

[2016-06-30 09:55] fabianrios opened #89 "upload a file created using a blob"
trying to do this but not working I don't even get an error.
`var myFile = new File([blob], "new_file.png", {type: "image/png"});
        Cloudinary.upload(myFile,{},function(err, res){
          if (!err == null){
           console.log('upload error: ' + err);
          }else{
           console.log('upload result: ' + JSON.stringify(res));
          }
        });`

[2016-06-30 13:11] jessylachapelle commented on #88
I can see to do a PR next week, the issue is with the check package. My app is stuck at an older version because of dependencies, in that version Match.Maybe() does not exist yet. A quick fix was to add the code for Match.Maybe from the source directly in my project.

Meteor version is 1.2.1

[2016-06-30 13:31] catin-black opened #90 "# sourceMappingURL, but already has one"
Hi.
I have a problem with package.
I have this info in console:

`http://localhost:3000/packages/lepozepo_cloudinary.js is being assigned a // # sourceMappingURL, but already has one [Learn More] - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Already_has_pragma`

[2016-06-30 14:02] Lepozepo commented on #31
I need to add URL support, PR's are appreciated ^_^

[2016-07-07 19:58] frankapimenta commented on #81
any news regarding this? :)

[2016-07-07 21:21] jsantana90 commented on #85
Jeu @Lepozepo I tested this today after updating to `lepozepo:cloudinary  upgraded from 4.2.1 to 4.2.2`

But still no callback and no image in cloudinary :(

[2016-07-07 22:03] jsantana90 commented on #85
I was able to upload successfully by changing:

[code]

to

[code]

Now I got the call back successfully :D

[2016-07-19 18:10] kaiyes opened #92 "TypeError: Object [object Object] has no method 'Maybe'"
Anyone has this error ?

full error looks like this. I am using another cloudianry package successfully though. So kinda lost here,

![screen shot 2016-07-20 at 12 08 58 am](https://cloud.githubusercontent.com/assets/5293742/16961196/483aee36-4e0e-11e6-8550-b76d89a3deab.png)

[2016-07-19 18:11] Lepozepo commented on #92
Hey! The issue is your version of `Match`, I need to patch `Maybe` with `Optional` to make it compatible with previous versions of Meteor

[2016-07-20 21:50] fabyeah opened #93 "Cloudinary.upload on the server for security reasons?"
I'm very happy with this package! Just two things I don't know how to accomplish now:

1. Set the allowed image formats on server side via allowed_formats
2. Use addons like the Metascan Anti-malware Protection Add-on (http://cloudinary.com/documentation/metascan_anti_malware_protection_addon) to prevent users from uploading malicious files. Use of the addon should also be enforced server side.

I

[2016-07-21 22:51] fabyeah commented on #77
I was wondering the same thing. Thanks @petestreet for the answer. Guess this can be closed?

[2016-07-22 14:06] fabyeah commented on #93
I figured out how to do both by defining a default upload preset in the cloudinary upload settings.

http://cloudinary.com/blog/centralized_control_for_image_upload_image_size_format_thumbnail_generation_tagging_and_more

[2016-07-22 14:06] #93 closed

[2016-07-22 14:15] Lepozepo commented on #93
Sweet! Sorry I didn't answer sooner, I honestly hadn't used that feature before ^_^. Thanks for posting an answer :D

[2016-07-23 08:51] tomhalley commented on #85
+1 @jsantana90 This worked for me!

[2016-07-23 10:07] tomhalley commented on #68
+1 having exact same issue

[2016-07-23 15:05] Lepozepo commented on #85
Damn, that's so weird! I'll have another look, lol

[2016-08-02 12:41] Sntax commented on #92
Yup - running into the same issue here. Thanks for the great work so far @Lepozepo.

[2016-08-03 07:38] slevr opened #94 "Cannot read property 'Cloudinary' of undefined"
So: been working on this for hours, gotta be something simple I'm missing but I'm not sure where the fault may lay. This issue only happens upon deploying to Heroku as it works fine locally. So, not sure if it's a buildpack issue or something with this package. For whatever reason heroku doesn't seem to recognize the package or the way Cloudinary is being defined. I'm using Meteor 1.4.0.1 as well.

[2016-08-03 13:58] thomasj230 commented on #68
+1

[2016-08-06 14:57] Lepozepo commented on #92
This should be fixed in the latest version ^_^

[2016-08-06 14:57] #92 closed

[2016-08-06 14:58] Lepozepo commented on #94
Damn, I'm not sure really, I've never worked with heroku. Does it work locally?

[2016-08-06 15:06] Lepozepo commented on #85
Lol, @jsantana90, I just noticed that you were passing an individual file to the `upload` function. The `upload` function only takes arrays so the solution is to do `Cloudinary.upload(files, {}...)` instead of `Cloudinary.upload(files[0], {}...)`. I'll push a patch to accept singles as well though ^_^

[2016-08-06 15:06] #85 closed

[2016-08-06 15:14] Lepozepo commented on #85
All fixed in the new version guys

[2016-08-06 17:10] kaiyes commented on #92
Thanks a lot mate

[2016-08-06 17:13] jessylachapelle commented on #92
Thank you, sorry I wanted to do a PR, but I was swamped :(

[2016-08-07 13:38] slevr commented on #94
Yeah, I'm not sure either and was hoping someone may have seen this before so started here. It is working locally, though. Between using the latest meteor 1.4, heroku and cloudinary, all being fairly new to me, there's no telling at this point. I'm leaning toward a heroku deployment issue at this point, however.

[2016-08-11 12:09] catin-black opened #95 "Argument 1 of FileReader.readAsDataURL does not implement interface Blob"
Hi I Have that problem in my console.
[code]
METEOR@1.4.0.1
This is strange because you package was working and I do not change anything in code.
Could you please help

[2016-08-11 12:49] catin-black commented on #95
When I back to 4.2.2 I do not have this issue.

[2016-08-11 13:17] #88 closed

[2016-08-12 13:24] jessylachapelle commented on #95
I have also noticed this issue, I tried upgrading to version 4.2.4 to fix the issue with Match.Maybe(), but I end up with this problem now.

[2016-08-12 13:27] Lepozepo commented on #95
Crap, I'll definitely have a look, there might be a regression in the new stuff

[2016-08-13 07:50] lyquocnam opened #96 "Please change document tutorial with javascript code not coffescript."
Dear author, i new so i hard to read coffee script. i think we should change to javascript or with es6.
it will be easier for new commer.

thanks author for good package !

[2016-08-13 09:13] lyquocnam opened #97 "Exception while invoking method 'c.sign' undefined"
i was downgrade to version 4.2.2.
and this happen when upload.

[2016-08-13 11:51] jessylachapelle commented on #97
@lyquocnam This issue has been fixed in 4.2.4, If it is the same one I had regarding Match.Maybe() (Please and details about the bug). Unfortunately there is another bug in that version. Here is my workaround
`Match.Maybe = (pattern) => { return this.pattern = pattern; };`

[2016-08-14 07:38] pavanputhra commented on #68
+1

[2016-08-14 14:31] lyquocnam commented on #97
@jessylachapelle i don't know, i do like tutorial in readme so it happen.
in 4.2.4 with this issue https://github.com/Lepozepo/cloudinary/issues/95
you can more detail about this workaround ? i don't know how to use Math.Maybe, where place for it ?

[2016-08-14 14:59] jessylachapelle commented on #97
@lyquocnam `Match` is part of the Meteor check package. My problem was that the version of check used in 4.2.2 uses the `Match.Maybe()` method which did not exist in my version of check. If this is the case for you, all you have to do is add the code for the `Match.Maybe()` method to the **lib** folder of your project. Although, this may not be your problem, it would help to have the entire consol

[2016-08-23 14:43] szimmers opened #98 "does this work with Meteor v1.4.x?"
i'm testing out our app w/ the upgraded version, from v1.3.5.1. The symptom is that the files don't upload to cloudinary.

when i debug the client, _upload_file is never called. so we never make it as far as the server "c.sign" method.

i ran a meteor update on this package and the indication was i already had the latest compatible version.

has anyone gotten this working? is there something i for

[2016-08-23 16:08] Lepozepo commented on #98
Hmm, it should work. Have you looked at the sample project? If that one fails then I'll have a look as soon as I can. pR's always welcome!

[2016-08-26 08:20] Animion commented on #95
In 4.2.4 still problem:
`angular_angular.js?hash=08f63d2…:13439 TypeError: Failed to execute 'readAsDataURL' on 'FileReader': parameter 1 is not of type 'Blob'.
    at TypeError (native)
    at Object.upload (http://localhost:3000/packages/lepozepo_cloudinary.js?hash=8ebd37ccf2060b3851635a8ecb2ec0925708f88a:150:21)
    at http://localhost:3000/app/app.js?hash=523ab651b4ba8beae295a136b4bf5d9230f0f0

[2016-08-26 22:17] danielparas commented on #95
Experiencing the same issue :/

[2016-08-26 22:40] danielparas commented on #95
The problem seems to be with the `_.isArray()` check on line 149 .. Did the underscore library get updated with the latest Meteor? It's returning false when a FileList is passed, which makes sense since FileList is not an array. This is therefore causing the readAsDataURL to throw the blob error.

[code]

A quick fix around this to get things moving again is to pass the files as an array to `cloud

[2016-08-27 14:51] Pushplaybang commented on #95
@danielparas - this solved my issue, thanks.  This seems to be a user error over a issue with cloudinary, might be worth adding to the documentation though.

[2016-08-30 11:49] catin-black commented on #95
Working :)

[2016-08-30 20:24] fabianrios commented on #70
how can you use the progress bar at least with one image? any example I'm lost.

[2016-08-31 01:32] Lepozepo commented on #70
Hey @fabianrios! Take a look at the `/example/basic` folder. You can get multiple progress bars by tapping into the client-side only `Cloudinary.collection` object that has all the active uploads

[2016-08-31 01:35] Lepozepo commented on #70
Oh, lol, that one doesn't show progress bars. Well from the `Cloudinary.collection` object you can do a `fetch()` and you'll see a key there (I forgot what it's called but something like `upload_progress`). Then render that to your DOM :D so something like `width: upload_progress/100`

[2016-08-31 04:34] ABAD-i commented on #98
On METEOR@1.4.1 working fine , but it not working on METEOR@1.4.1.1 ,
 i got this error Cannot read property 'config' of undefined :( ?

[2016-08-31 14:18] goooseman commented on #98
@Lepozepo made a PR with a fix

[2016-09-01 16:09] NitroBAY commented on #96
Yes please, it's hard and frustrating to try to read coffee. Just use common or ES6 js. Use this website if you need help http://js2coffee.thomaskalka.de

[2016-09-02 15:49] NitroBAY opened #100 "audit-argument-checks"
Your package has audit-argument-checks as a dependency so I have this problem  Did not check() all arguments during call to 'Worksheets.insert' on other methods than cloudinary one.
By the way I do check the data but maybe as I use a function instead of directly checking audit-argument-checks throws an error.

[2016-09-02 16:08] Lepozepo commented on #100
Hey! Yeah, I really need to give this package some love. Isn't `audit-argument-checks` a weak dependency? Let me see

[2016-09-02 16:09] Lepozepo commented on #100
Lol https://github.com/Lepozepo/cloudinary/blob/master/package.js#L19, ok, I'll patch this as soon as I can

[2016-09-02 18:42] NitroBAY commented on #100
Great thanks. I tested it by downloading package and removing "weak dependency" and it solved my problem.

[2016-09-05 16:09] Lepozepo commented on #89
Should be fixed in 1815b329f21ca2cbb4f3f5f94e0d9be31f00d93b

[2016-09-05 16:09] #89 closed

[2016-09-05 16:09] Lepozepo commented on #100
This should be fixed with da9ce63d477922128386768d7383a94f0b46ef1c in the latest release

[2016-09-05 16:09] #100 closed

[2016-09-05 16:15] Lepozepo commented on #98
@goooseman Thank you for the PR! The check for files, blobs, filelists, and arrays was very stupidly built. I just patched it in the latest release. There shouldn't be any more problems ^_^

[2016-09-05 16:15] #98 closed

[2016-09-05 16:16] Lepozepo commented on #95
Hey guys! I patched this today. The `upload` function now checks for File, Blob, FileList, and an array of files. Let me know if you continue having any issues.

[2016-09-05 16:16] #95 closed

[2016-09-05 23:21] jamesmacfie commented on #94
I had this recently (locally, not on deploy as I haven't tried that yet) and my issue was that I had to specify a `--settings` flag. You could try being specific with that in your run step and see if that changes anything?

[2016-09-05 23:25] Lepozepo commented on #94
That's very strange, lol, there's definitely nothing in the package requiring `--settings`. Are you importing the package? I haven't tried that but I'm sure that importing it would mess things up (I haven't gotten around to resolving that yet)

[2016-09-06 16:16] Animion commented on #95
working! thanks!

[2016-09-06 19:00] slevr commented on #94
@jamesmacfie - unfortunately, I've used the --settings flag all along and it does run locally just fine for me. I only see this error when trying to run in heroku. I actually haven't revisited this however in a couple weeks due to other priorities so am just assuming the issue remains. @Lepozepo - I'm not importing it ( though I did try to once I saw issues just to see plus other things )  - just

[2016-09-21 14:58] panphora commented on #63
After you upload your files to Cloudinary, you'll be able to access their public_id's in the callback response. Save this in your db so you can access it later. It's useful for doing future transformations.

Submit this public_id as the first argument to the `c.get_download_url` method in order to get the download link.

[2016-09-23 22:13] JulianKingman commented on #97
I'm having this problem, but I have the latest version of `check`, so... other ideas?

[2016-09-23 23:33] JulianKingman commented on #97
The problem is this for some reason:
`signature = Cloudinary.uploader.direct_upload "",ops`
Any ideas? I'd be happy to submit a PR, but I have no idea why it's not working.

[2016-09-25 12:27] JulianKingman commented on #97
I tried 4.2.4 and 4.2.2, same problem... I'm on Meteor 1.4.1.1, here's the packages I have installed:
[code]

[2016-09-28 09:31] ChiragBhalara07 opened #101 "upload_large function is not there."
Please add upload_large function for Chunked video upload.

[2016-09-28 21:40] odesey opened #102 "Upload blob"
I am trying to extract some images from `.epub` files and then save them to Cloudinary but I am not having any luck. Here is what I've done thus far:

Using `epub.js` I load the `.epub` file and read the image data:

[code]
I can manually assign `cover._url` to an image source and the image renders as expected:
[code]
I have tried to upload the `cover._result` , `"blob:http://localhost:3000/6433bd

[2016-09-29 02:05] odesey commented on #102
Solved this based on info found here #19

Changed this:

[code]

to this:

[code]
Problem solved.

This should probably be in the documentation.

[2016-09-29 02:05] #102 closed

[2016-09-29 03:30] Lepozepo commented on #102
Awesome! Glad you solved it, I'll add it to the docs.

[2016-10-04 03:39] ramijarrar commented on #4
Is this still an issue?

[2016-10-04 03:40] Lepozepo commented on #4
Yes

[2016-10-10 03:49] ramijarrar opened #103 "Use peer NPM dependencies"
See https://guide.meteor.com/writing-atmosphere-packages.html#peer-npm-dependencies

(I can contribute a PR if that is easier for you)

[2016-10-14 12:19] balaianu commented on #97
Same problem, using latest version (4.2.6) and latest Meteor (1.4.1).

Packages:

# Meteor packages used by this project, one per line.
# Check this file (and the other files in this directory) into your repository.
#
# 'meteor add' and 'meteor remove' will edit this file for you,
# but you can also edit it by hand.

meteor-base@1.0.4             # Packages every Meteor app needs to have
mobile-ex

[2016-10-17 16:36] NicholasEli opened #104 "Documentation on how to sign packages."
I am trying to get this package to work. How ever I think my uploads neee to be signed.

Is there any docs to follow for this?

[2016-10-18 01:25] NicholasEli commented on #104
Never mind, I figured out my issue. Was using incorrect cloud name.  I am greateful you made this package. I will drop a donation later this week.

Thanks!

[2016-10-18 01:42] Lepozepo commented on #104
Awesome! Glad you were able to solve it. Sorry I didn't respond sooner, I wasn't sure what could've been wrong.

[2016-10-18 01:42] #104 closed

[2016-10-22 18:08] JulianKingman commented on #97
So in one of my apps (have to try the original), the problem was this (thanks go to @copleykj):

That solved it for us, and with that I add another vote to #96, because if it wasn't in coffeescript I would have understood it properly. It's my bad, but just sayin'!

[2016-11-20 01:48] JulianKingman commented on #37
Thanks @sambegin, that's super helpful. I wish it were isometric. This is what I did, to work with the server-side rendering:
[code]

[2016-12-15 00:35] digital1ab commented on #74
@hyperh did you get it to work, or is it actually an issue with this module and React? I could only retrieve the default image without any transformation, just like you explained.

[2016-12-15 00:36] osterkraft commented on #74
@hyperh did you get it to work, or is it actually an issue with this module and React? I could only retrieve the default image without any transformation, just like you explained.

[2016-12-17 22:09] hyperh commented on #74
@osterkraft I'm no longer working on the project that used this library, so unfortunately I can't help you out. Best of luck.

[2016-12-20 10:12] mervynteo commented on #70
@Lepozepo Could you perhaps write an example of how to set up a progress bar? would be very helpful! Thanks. So far `{{percent_uploaded}}` works for me but jumps straight to 100% without anything in between. Prefer normal js instead of coffeescript which can be confusing to decipher.

[2017-01-23 19:02] neufeldtech commented on #76
@Lepozepo
Any update on the debugging of the delete function? I am experiencing a similar issue as well. I'm uploading images into subfolders (folder name is Meteor.userId() - each user gets their own cloudinary folder).

When calling the delete function with a public_Id such as `ZMnKykN2ooabFGoMd/b5gmnis3iylofgeqfwep`, I get a `not_found` error. When browsing the media library on Cloudinary, I se

[2017-01-24 09:32] rvnikita commented on #76
@neufeldtech
My problem was solved with `type="fetch"` parameter

full file for deletion:

[code]

Hope that helps.

[2017-01-31 16:26] 3210jr opened #105 "Breaks on firefox"
Hey,

Great package! everything works just fine on safari and chrome but refuses to upload files on firefox. Here is the error:

`File.lastModifiedDate is deprecated. Use File.lastModified instead.  app.js:14048:16
SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data[Learn More]  lepozepo_cloudinary.js:224:20
	Cloudinary._upload_file/</< http://localhost:3000/package

[2017-01-31 17:04] NicholasEli commented on #105
Can confirm, Mozilla is deprecating the portion of the Files api. `https://www.fxsitecompat.com/en-CA/docs/2016/file-lastmodifieddate-has-been-deprecated/`

[2017-01-31 17:30] Lepozepo commented on #105
Awesome, I'll have a look as soon as I can. PRs are always welcome though :D

[2017-02-01 00:57] NicholasEli commented on #105
I was considering that but could not find the call for the method in the code base.

Maybe it's in one of the supporting libraries used to run the package?

[2017-02-01 13:21] 3210jr commented on #105
@NicholasEli I found out what was causing the issues! (I hope....)

After hours and hours of searching for that line, and finding nothing, ...
Turns out that the error has nothing to do with this package! You will not believe this but what is throwing the error is this line `console.log("file: ", file);`

I think firefox did not like what I was logging to the console... which is the file i got fro

[2017-03-02 14:41] sanidhyasharma commented on #35
when i try to upload image with direct call to api it gives me this error plz help
Failed to load resource: the server responded with a status of 400 (Bad Request)
![cldd](https://cloud.githubusercontent.com/assets/24958703/23511806/6a7d7554-ff84-11e6-92da-283f3fe43097.PNG)
![cloudd](https://cloud.githubusercontent.com/assets/24958703/23511807/6a837d46-ff84-11e6-9184-a1bd4b00686c.PNG)

[2017-03-09 05:49] humbertocruz opened #106 "Multiple image upload save the same image on all uploads"
Hello, I'm trying to upload several files ( or at least two ) but the Cloudinary.collection show the same image ( usually the first on ) on all uploads and on the Cloudinary media library. With just one, works great.

I just add "multiple=multiple" on the file upload input. My upload event:

`'change #uploadField': function(e) {
			var files = e.currentTarget.files;
			Cloudinary.upload(files,

[2017-03-09 22:04] humbertocruz opened #107 "c.url helper throw this.config error"
Hi, I'm getting "this.config" is not a function on cloudinaryJquery when try to use the c.url helper.
Even with $.cloudinary.url too.

There is any problem on running Cloudinary several times on server ? I need to do this for each client on my App ( each one has his own Cloudinary account ). The upload is ok for each account, but I am having this problem on c.url help to view the images.

thanks

[2017-03-12 20:13] manuelro opened #108 "Getting error "Exception from Tracker recompute function:""
I just installed this cloudinary wrapper, everything works great but when I try to use the `{{c.url public_id}}` helper it fails with an unspecific error:

`Exception from Tracker recompute function:` on `meteor.js?hash=27829e9…:930`.

Any ideas of what's going on?

#Versions:
NPM 3.10.9
Node v6.9.2
Meteor 1.4.3.1

[2017-03-13 04:51] AndyNormore opened #109 "TypeError: Cannot read property 'update' of undefined"
Just installed your plugin, I want it to work so badly! But... I get an error starting Meteor.

in the root directory of your application.
W20170313-00:50:52.644(-4)? (STDERR) C:\Users\Andy\AppData\Local\.meteor\packages\meteor-tool\1.4.3_1\mt-os.windows.x86_32\dev_bundle\server-lib\node_modules\fibers\future.js:280
W20170313-00:50:52.646(-4)? (STDERR)                                            th

[2017-03-13 05:59] Lepozepo commented on #109
Hmm, there's something up with a file named cramhead_cloudinary.js. That file isn't in the original package, did you get a fork? (I'm updating this package for NPM as soon as I get the S3 port done)

[2017-03-13 15:15] AndyNormore commented on #109
Ah okay I'll try cleaning out the project. Yours isnt the first repo I've installed, maybe I've got some junk left over. Will report back after cleaning.

[2017-03-13 15:56] AndyNormore commented on #109
Yep, cleaned up packages. Looks like left over junk!

I also got messed up because of the coffee script, took a little messing around to get it working. Maybe add a non-coffee example for us noobs, eh? I've seen a few open issues that people are confused about.

But, I have successfully pushed my JohnSnow.jpg to my account. THANK YOU for this work.

[2017-03-13 15:56] #109 closed

[2017-03-13 16:07] AndyNormore commented on #109
THANK YOU. I have this 100% working now. Take pride in seeing your plugin running on www.SkyRooms.IO - come on over and say hello :)

[2017-03-13 16:11] Lepozepo commented on #109
Awesome! Best of luck ^_^ and yeah, I know there are a bunch of issues pending >_< I've been busy up the ass with Big Data issues lately lol. Definitely expect a big refactor to this project coming from my off-time though.

[2017-03-13 16:14] AndyNormore commented on #109
I wouldn't say there are big problems. I think it's just lack of documentation. I happen to be good at hacking other peoples stuff to solve my problems, obviously, some people aren't. And those are your customers!

Meteor is SUCH a pain in the ass. They recommended using S3 and CloudFront which I had working, then to optimize that S3 bucket is like, 3x as much work! So I found Cloudinary and was l

[2017-03-19 14:49] Nisthar commented on #74
@osterkraft I tried it from my console and its working for me.

[2017-03-19 14:49] Nisthar commented on #72
Its working for me fine.

[2017-04-15 18:45] panphora commented on #56
I just sent you another small donation. Thank you for this awesome package!

[2017-04-15 19:09] Lepozepo commented on #56
Awesome! Thank you!

On Sat, Apr 15, 2017 at 11:45 AM David Miranda <notifications@github.com>
wrote:

--
--Marcelo Reyna--

[2017-07-04 10:40] indie-it opened #110 "Not compatible with meteor 1.4.4.3"
I updated to meteor 1.4.4.3 today. When I tried to run meteor, I got the following message

[code]

I don't really know what to do... Any ideas, guys?

[2017-07-12 14:48] niranjans commented on #110
I am considering using this package in my project. Just wanted to check in if this package is compatible with the new 1.5 version of Meteor.

[2017-07-27 19:36] szimmers commented on #96
try this:
http://decaffeinate-project.org/repl/

[2017-08-21 16:05] lmachens opened #113 "Remove templating/Blaze dependency"
It would be great to remove the templating/Blaze dependency.
This would be a breaking change, but more and more projects getting rid of Blaze.

[Necessary changes](https://github.com/lmachens/cloudinary/pull/2/files)

Maybe another solution is possible where the blaze templates are optional?

[2017-08-21 16:21] Lepozepo commented on #113
Definitely, I haven't had a lot of time to put into my open source projects this year but I will be creating an NPM version of this package just like I did for my S3 package as soon as I can.

[2017-08-22 07:24] lmachens commented on #113
Ok great! In the meantime I use my fork without the dependencies, JS examples and extended Cloudinary class on the client side.
[Fork](https://github.com/lmachens/cloudinary)

[2017-08-22 07:24] #113 closed, assigned to nobody

[2017-08-27 04:08] mervynteo commented on #94
This issue came up again when i tried to fit it all into Meteor's new directory structure.
I have a settings file with all the keys and also says

in reference to this code. I have the keys in a settings.json file
[code]
The error appears only for the browser , not on the server.

[2017-08-27 20:37] lmachens commented on #94
@mervynteo
Meteor.settings.private are only available on the server.
You should move the cloud_name to Meteor.settings.public and initiate cloudinary on the client like:
[code]

Cloudinary.config is for server side only.

[2017-09-05 14:07] ducdev opened #114 "From second upload, percent_uploaded is only returned 100%"
Hi @Lepozepo
I've encountered an issue, from second upload, `percent_uploaded` is only always returned 100% instead of increasing percentages like first upload.
I'm using `Tracker.autorun((computation) => { ... })`
Please check it, thanks for great package.

[2017-10-17 06:19] ghost opened #115 "Autoform integration?"
Is there any way that i can integrate this package with autoform??  I know there is few packages out there that has the same function,  but lack of options,  for example create a folder and signed upload..

[2017-10-18 14:27] Lepozepo commented on #115
Hey @illankbanget ! The package doesn't support an integration with autoform out-of-the-box but I'm sure you could build a component that can work with autoform. I haven't looked into autoform much though so I'm not too sure where you could start.

[2017-11-08 12:46] catin-black commented on #108
+1

[2017-11-08 15:22] Lepozepo commented on #108
I'll have a look as soon as I can. @catin-black what version of blaze are you using? (if any)

[2017-11-08 19:55] catin-black commented on #108
I am using Meteor 1.6

[code]

[2017-11-10 08:42] catin-black commented on #108
Hi. Any news?

[2017-11-10 15:24] Lepozepo commented on #108
Hey! I'll be looking over it this weekend (I think I'll have a bit of time to give back to the community) :D

[2017-11-12 12:45] catin-black commented on #108
Thank you! I am waiting.

[2017-11-14 09:26] catin-black commented on #108
;( ;( ;(

[2017-11-15 11:07] catin-black commented on #108
Hi.
Any news?

![GIF](https://media.giphy.com/media/EE185t7OeMbTy/giphy.gif)

[2017-11-15 17:30] Lepozepo commented on #108
Hey! Lol, sorry I wasn't able to have a look over the weekend, I just got a pretty dense operation on my feet >_<. Promise to have a look soon, it's definitely at the top of my mind ^_^

[2017-11-16 14:11] catin-black commented on #108
I will make it happen
![GIF](https://media.giphy.com/media/anzLZHW9ImqI0/giphy.gif)

[2017-11-27 13:49] catin-black commented on #108
![GIF](https://media.giphy.com/media/ikXcqqlSNH2Mw/giphy.gif)

How is the situation?

[2017-11-28 04:38] Lepozepo commented on #108
Lol, all good. I did get a chance to work on a patch :D I should have a release soon, literally like one commit away.

[2017-12-16 10:39] catin-black commented on #108
Any news?

![GIF](https://media.giphy.com/media/GjR6RPcURgiL6/giphy.gif)

[2018-01-22 08:17] catin-black commented on #108
:(

[2018-01-24 20:16] jonstra opened #116 "HTTPS SSL/TLS"
Hi.
How can i enable this package to use https://res.cloudinary.com instead of http?
If its not possible, can this be added as a feature under cloudinary.config?

Currently this package "breaks" HTTPS icon in all major browser due to insecure file uploads/downloads.

Thank you.

[2018-02-15 13:37] catin-black commented on #108
@Lepozepo?!
![GIF](https://media.giphy.com/media/6xgslyYQCyLa8/giphy.gif)

[2018-02-23 14:22] catin-black commented on #108
@Lepozepo?!
![GIF](https://media.giphy.com/media/OOezqqxPB8aJ2/giphy.gif)

[2018-08-16 17:40] lesliedoghouse commented on #108
I got the same error... Any update?

[2018-08-16 17:42] lesliedoghouse opened #118 "Is this still working as it should?"
Got error when calling from Blaze. Found another post with same error but developer seems like not fixing it.

[2019-12-03 16:37] fdhcastillo commented on #76
//DELETE FILES
  app.delete(`/delete/files/:public_id`, function (req,res){
    resources_for_deletion = ['r0qfoindd69bmlkhfi4j'] //public_id in cloudinary
    Documents = 'Documents/' //name of folder
    cloudinary.api.delete_resources(`${Documents}${resources_for_deletion}`,function(err,result) {
      console.log(result,err)
    })
    })
  I did this in Node.js.
And in postman the route is th

[2022-04-02 23:26] iykeafrica commented on #76
**### Using Cloudinary SDK for JAVA to delete an image inside a folder**

[code]

[2022-04-04 15:31] Lepozepo commented on #76
Uff, I've been completely disconnected from this package for a while, sorry about that guys, hopefully everyone has found an alternative by now. Definitely recommend using the official cloudinary SDK. I've only recently reactivated notifications across my older packages, hope to give some maintenance love across the board soon. https://cloudinary.com/documentation/image_upload_api_reference#destro